@import "./loading-screen";

// :root {
//   --primary: #0038ff;
//   --secondary: #e3f5ff;
//   --text-color: black;
// }

@mixin buttonStyle() {
  user-select: none;
  cursor: pointer;
  align-items: center;
  color: var(--text-color);
  width: 100%;
  border-radius: 100px;
}

@mixin removeName($margin) {
  padding: 1rem;
  border-radius: 100%;
  width: fit-content;
  margin: 0 $margin;
  .label-text {
    display: none;
  }
}

.no-stock-filter {
  filter: saturate(0) opacity(0.5) !important;
  cursor: not-allowed !important;
}

.products-list,
.last-variant {
  text-transform: uppercase !important;
  &,
  * {
    box-sizing: border-box;
  }
  p {
    margin: 0;
    color: var(--text-color);
  }
  .variants-wrapper {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: var(--secondary);
      border-radius: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--primary);
      border-radius: 8px;
    }
    & + .dropdown-mobile {
      margin-top: 0.5rem;
    }
  }
  .dropdown-mobile {
    @include buttonStyle();
    position: relative;
    justify-content: space-between;
    color: #000;
    font-size: 0.87125rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    text-align: left;
    padding: 0.94rem 1.5rem;
    border-radius: 6.25rem;
    border: 1.549px solid var(--primary);
    background: var(--secondary);
    display: none;
    .variants-wrapper {
      position: absolute;
      top: calc(100% + 8px);
      left: 0;
      z-index: 999;
    }
    .placeholder-text {
      font-weight: 700;
      color: #4b4b4b;
    }
    svg {
      flex-shrink: 0;
      transition: 0.3s;
      path {
        fill: var(--text-color);
      }
    }
    &.active svg {
      transform: rotate(0.5turn);
    }
    @media (max-width: 767px) {
      font-size: 0.8125rem;
      padding: 0.9375rem 1.44rem;
      display: flex;
      & + .variants-wrapper {
        max-height: 0;
        overflow: hidden;
        transition: 0.3s;
      }
      &.active + .variants-wrapper {
        max-height: 21rem;
        padding: 0.5rem;
        overflow-y: auto;
      }
    }
  }
  .button-wrapper {
    width: 100%;
    img {
      width: 100%;
      max-height: 7.5rem;
      object-fit: scale-down;
    }
    input:checked + label .label {
      border-color: var(--primary);
      background-color: var(--secondary);
      .label-ball:after {
        background-color: var(--primary);
      }
    }
    input:disabled + label .label {
      cursor: not-allowed;
    }
    label {
      display: block;
      cursor: pointer;
    }
    &:not(.no-stock-filter) {
      label {
        &:hover,
        &:focus {
          .label {
            border-color: var(--primary);
          }
        }
      }
    }
    .label {
      @include buttonStyle();
      display: flex;
      justify-content: flex-start;
      gap: 0.75rem;
      font-size: 0.87125rem;
      text-align: left;
      line-height: 1;
      font-style: normal;
      font-weight: 900;
      border: 0.0994rem solid #e2e2e2;
      padding: 0.88rem 1rem;
      @media (max-width: 767px) {
        font-size: 0.8125rem;
        padding: 0.9375rem 1.44rem;
      }
      .label-ball {
        display: flex;
        flex-shrink: 0;
        width: 1.125rem;
        height: 1.125rem;
        border: 1px solid black;
        border-radius: 50%;
        background-color: #d9d9d9;
        &:after {
          content: "";
          width: 0.75rem;
          height: 0.75rem;
          margin: auto;
          border-radius: 50%;
        }
      }
    }
  }
  .sizes-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 0.5rem;
    gap: 0.44rem;
    .button-wrapper {
      .label-ball {
        display: none;
      }
      .label {
        aspect-ratio: 1/1;
        border-radius: 50%;
        justify-content: center;
        text-align: center;
        background-color: #ececec;
        border-color: #ececec;
        border-width: 2px;
        padding: 4px !important;
        .label-text {
          position: relative;
          font-size: 0.8125rem;
          font-weight: 700;
          .label-price {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            color: #000;
            font-size: 9px;
            font-weight: 700;
          }
        }
      }
      input:checked + label .label {
        border-color: var(--primary);
        background-color: var(--secondary);
        .label-ball:after {
          background-color: var(--primary);
        }
      }
    }
  }
  &.last-variant .label {
    @include removeName(0);
  }
  .dropdown-img {
    display: none;
    width: 100%;
    object-fit: scale-down;
  }
  &.has-dropdown {
    .img {
      display: none;
    }
    .dropdown-img {
      display: block;
    }
    .variants-wrapper {
      flex-direction: column;
      gap: 0.7rem;
      background-color: white;
    }
    .dropdown-mobile {
      display: flex;
      & + .variants-wrapper,
      .variants-wrapper {
        max-height: 0;
        overflow: hidden;
        transition: 0.3s;
      }
      &.active + .variants-wrapper,
      &.active .variants-wrapper {
        max-height: 21rem;
        padding: 0.5rem;
        overflow-y: auto;
      }
    }
  }
  @media (max-width: 767px) {
    &.has-dropdown.has-img-desktop {
      img {
        display: none;
      }
    }
    &.has-dropdown-mobile {
      img {
        display: none;
      }
      &:not(.has-img-desktop) {
        .dropdown-img {
          display: block;
        }
      }
      .variants-wrapper {
        flex-direction: column;
        gap: 0.7rem;
        background-color: white;
      }
    }
    &.no-name-mobile:not(.has-dropdown-mobile) {
      .label {
        @include removeName(auto);
      }
    }
  }
}

.btn-lock {
  cursor: not-allowed !important;
}

.shake {
  &[dropdown-text] {
    animation: 0.3s forwards tilt-shaking;
    .dropdown-mobile {
      background-color: #ffe3e3;
      border-color: #ff2321;
    }
  }
  .sizes-wrapper .button-wrapper .label {
    animation: 0.3s forwards tilt-shaking;
    background-color: #ffe3e3;
    border-color: #ff2321;
  }
}

@keyframes tilt-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
